@charset "UTF-8";

/* =========== Variaveis =========== */
:root {
    --fonte: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* cores */
    --cor-fundo: #c6c6f0;
    --cor-botao: #3a3aff;
    --cor-hover: #1515cd;
    --cor-caixa: white;
    --cor-input: #edeefd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte); 
    background-color: var(--cor-fundo);
    font-weight: normal;
    font-size: 1em;
}

main {
    /* border: 1px dotted black; */
    max-width: 768px;
    margin: 20px auto;
    padding: 10px;
}

div {
    background-color: var(--cor-caixa);
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 0px 4px 12px rgb(0, 0, 0, .2);
    margin: 30px 0px;
}

button {
    cursor: pointer;
}

.detalhes-pessoais {
    padding-top: 50px;
    text-align: center;
    line-height: 1.7;
}

.dados-pessoais .logo {
    position: absolute;
    font-size: 50px;
    color: var(--cor-botao);
    top: 10px;
    left: 10px;
    font-weight: bold;
}

.detalhes-pessoais p a {
    text-decoration: none;
}

.detalhes-pessoais p a:hover {
    text-decoration: underline;
    color: var(--cor-hover);
}

.adicionar-tarefa {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.adicionar-tarefa input, button {
    padding: 12px;
    border-radius: 8px;
    margin: 5px 20px;
    outline: none;
    border: 1px solid;
    transition: all .3s ease;
}

.adicionar-tarefa input {
    border-color: var(--cor-input);
    border-color: #b0b1bd ;
    width: calc(100% - (16% + (40px + 40px)));
    background-color: var(--cor-input);
}

.adicionar-tarefa input:hover, .adicionar-tarefa input:focus {
    border-color: var(--cor-hover);
    background-color: #FFF;
}

.adicionar-tarefa button {
    background-color: var(--cor-botao);
    color: white;
    width: 16%;
    border-color: var(--cor-botao);
}

.adicionar-tarefa button span {
    font-weight: bold;
}

.adicionar-tarefa button:hover {
    background-color: var(--cor-hover);
}

.quantidade-tarefas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.quantidade-tarefas aside {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 150px;

    background-color: var(--cor-input);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.253);
    font-weight: bold;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quantidade-tarefas aside input {
    width: 50px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 4px;
    outline: none;
    border: none;
    font-weight: bold; 
    box-shadow: 0px 2px 1px rgb(0, 0, 0, 0.1);
}

.quantidade-tarefas aside:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.2);
}
.quantidade-tarefas aside:nth-child(3) {
    background-color: rgba(0, 128, 0, 0.2);
}

.quantidade-tarefas aside:nth-child(2) p {
    color: rgb(255, 0, 0);
}
.quantidade-tarefas aside:nth-child(3) p {
    color: green;
}

.quantidade-tarefas #nrPendente {
    color: red;
}
.quantidade-tarefas #nrConcluido {
    color: green;
}


.lista-tarefas ul {
    list-style: none inside;
}

.lista-tarefas ul li {
    background-color: var(--cor-input);
    padding: 2px 4px 2px 10px;
    margin: 10px 20px;
    border-radius: 5px;
    border: 2px solid #1515cd29;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.concluir,
.apagar {
    display: inline-block;
    text-align: right;
    padding: 8px 10px;
    margin: 4px 0px;
    color: white;
}

.apagar {
    background-color: rgb(241, 32, 32);
}

.concluir {
    background-color: green;
}

.concluir:hover {
    background-color: rgb(0, 87, 0);
}
.apagar:hover {
    background-color: rgb(196, 26, 26);
}




/* ============ MEDIA QUERIES ============ */
@media screen and (max-width: 630px) {
    .adicionar-tarefa input {
        flex-grow: 1;
        flex-basis: 300px;
    }  

    .adicionar-tarefa button {
        flex-shrink: 0;
        flex-basis: 100px;
    }   


    .quantidade-tarefas {
        flex-direction: column;
    }

    .quantidade-tarefas aside {
        width: calc(100% - 40px);
        flex-basis: 40px;
        flex-direction: row;
        justify-content: center;
    }

    .quantidade-tarefas aside p, .quantidade-tarefas aside input {
        flex-basis: 20%;
    }

    .quantidade-tarefas aside p::after {
        content: ':';
    }
}

@media screen and (max-width: 520px) {
    .adicionar-tarefa {
        gap: 10px;
    }

    .adicionar-tarefa button {
        flex-grow: 1;
    }
}
